/* Global Styles */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h4 a {
    color: green;
}

h4 a:hover {
    color: fuchsia;
}

main {
    min-height: calc(100vh - 10rem);
    display: grid;
    place-items: center;
}

.container {
    width: 80vw;
    max-width: 620px;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.contents {
    padding: 1rem 2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Navbar */
nav {
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.nav-toggle:hover {
    color: hsl(205, 86%, 17%);
    transform: rotate(90deg);
}

.links a {
    color: hsl(209, 34%, 30%);
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;
}

.links a:hover {
    background: hsl(205, 86%, 81%);
    color: hsl(205, 78%, 60%);
    padding-left: 1.5rem;

}

.social-icons {
    display: none;
}

.links {
    height: 0;
    overflow: hidden;
}

.show-links {
    height: 10rem;
}

/* Navbar for Screen and Min Width of 800px */
@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
    }

    .social-icons {
        display: flex;
    }

    .social-icons a {
        margin: 0 0.5rem;
        color: hsl(205, 78%, 60%);      
    }

    .social-icons a:hover {
        color: hsl(205, 90%, 76%);
    }
}

/* List Items for Home Page and Projects */
#home-description, .project-list {
    list-style-type: square;
}

/* Projects */
.project-icons {
    margin-left: 5px;
}
