/* Global Styles */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}